# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
myenv/
mynev/

# Environment / secrets
.env
.env.*

# Git
.git/
.gitignore

# OS junk
.DS_Store
Thumbs.db

# Data / artifacts (don’t bake into image)
data/
uploads/
logs/

# Docker files themselves (optional but fine)
docker-compose.yml
